/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Prompt&family=Rambla&family=Unna&display=swap');

@font-face {
  font-family: 'Blanka';
  src: url(./Fonts/BLANKA\ Font/Blanka-Regular.otf);
  font-style: normal;
  font-weight: normal;
}

:root {
    --onix: #393e41;
    --timberwolf: #d3d0cb;
    --old-gold: #e2c044;
    --myrtle-green: #587b7f;
    --eerie-black: #1e2019;
    --logo-back: #404040;
    --logo-text: #ffffff;
 }
 
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: "Poppins", sans-serif;
     text-decoration: none;
     list-style-type: none;
     /* border: solid greenyellow 1px; */
   }

   /* Estilos de la barra de scroll */
    *::-webkit-scrollbar {
      width: 12px;               /* width of the entire scrollbar */
    }
    
    *::-webkit-scrollbar-track {
      background: var(--onix);        /* color of the tracking area */
    }
    
    *::-webkit-scrollbar-thumb {
      background-color: var(--myrtle-green);    /* color of the scroll thumb */
      border-radius: 20px;       /* roundness of the scroll thumb */
      border: 3px solid var(--onix);  /* creates padding around scroll thumb */
    }

   /* ------------------------- Header ---------------------------*/
   .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    height: 60px;
    display: flex;
    background-color: var(--logo-back);
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    height: 100%;
  }

  .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
  }

  .menu-label {
    display: flex;
    order: 3;
    cursor: pointer;
    margin-right: 12px;
  }

  .menu-icon {
    font-size: 20px;
    color: var(--logo-text);
  }

  .favorites-label {
    display: flex;
    order: 2;
    cursor: pointer;
    margin-right: 12px;
  }

  .navbar-favoriteIcon {
    font-size: 20px;
  }

  .navbar-list {
    display: none;
  }

  .navbar-link {
    font-family: rambla;
    font-size: 14px;
    font-weight: 400;
    color: var(--logo-text);
  }


  /* Menú favoritos */
  .favoritesMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3;
    position: absolute;
    top: 60px;
    right: 0;
    height: 100vh;
    background-color: var(--timberwolf);
    overflow-y: scroll;
    transform: translate(200%);
    transition: all 0.5s;
  }

  .favorites-titleBox {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--myrtle-green);
    width: 100%;
    height: 50px;
    padding: 10px;
    gap: 8px;
  }

  .favorites-title {
    font-family: Prompt;
    font-size: 20px;
    font-weight: 600;
    color: var(--eerie-black);
    text-align: center;
  }

  .favoritesMenu-icon {
    font-size: 20px;
    color: var(--timberwolf);
  }

  .favorites-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 70%;
    margin-top: 5px;
    padding: 8px 8px 15px;
    gap: 6px;
    margin-bottom: 10px;
    overflow-y: scroll;
  }

  .favorites-container::-webkit-scrollbar-track {
    background: var(--timberwolf);       
  }
  .favorites-container::-webkit-scrollbar-thumb {
    background-color: var(--myrtle-green);    
    border-radius: 20px;     
    border: 3px solid var(--timberwolf);  
  }

  .emptyFavorites-msg {
    text-align: center;
    font-family: unna;
    font-size: 18px;
    font-weight: 200;
    color: var(--myrtle-green);
  }

  .favoriteArt {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    gap: 5px;
    border: solid 2px;
    border-radius: 10px;
    border-color: var(--myrtle-green);
  }

  .favoriteArt-img {
    height: 38px;
    width: 38px;
    background-position: center;
    background-size: cover;
    border-radius: 8px;
  }

  .favoriteArt-content{
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .favoriteArt-info {
    margin-right: 25px;
    align-items: left;
    justify-content: space-around;
    cursor: pointer;
  }

  .favoriteArt-title {
    display: flex;
    flex-wrap: wrap;
    font-family: Rambla;
    font-size: 12px;
    font-weight: 800;
    color: var(--eerie-black);
  }

  .favoriteArt-date {
    font-family: Unna;
    font-size: 16px;
    font-weight: 400;
    color: var(--myrtle-green);
  }

  .removeBtn {
    border: none;
    background: none;
    right: 18px;
    cursor: pointer;
  }

  .trash-icon {
    color: var(--myrtle-green);
    font-size: 15px;
  }

  .cleanFavorites-btn {
    margin-top: 15px;
    background-color: var(--myrtle-green);
    border: solid 1px;
    border-color: var(--eerie-black);
    border-radius: 8px;
    padding: 3px 40px;
    font-family: rambla;
    font-weight: 600;
    font-size: 13px;
    color: var(--eerie-black);
    cursor: pointer;
  }


/* ------------------------- Main ---------------------------*/
.main {
  margin-top: 30px;
  padding: 0;
  display: flex;
  flex-direction: column;
}
  /* Sticky usuario */
  .sticky {
    z-index: 3;
    width: fit-content;
    text-align: center;
    position: sticky;
    top: 62px;
    background: var(--myrtle-green);
    padding: 3px 10px;
    border-radius: 15px;
    border: 1px solid;
    border-color: black;
    font-family: rambla;
    font-size: 12px;
    font-weight: 400;
    margin-top: 0;
    left: 10px;
  }

  /* Hero */
   .hero {
    width: 100%;
    /* background: linear-gradient(to bottom, var(--logo-back), var(--eerie-black)); */
    background: var(--eerie-black);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    gap: 30px;
   }

   .hero-info {
    width: 90%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    gap: 20px;
    border-radius: 2rem;
    background-image: url(./Images/Quality1.jpg);
    background-position: center;
    background-size: cover;
   }

   .hero-title {
    font-family: Blanka;
    font-size: 30px;
    font-weight: 600;
    color: var(--logo-text);
   }

   .hero-slogan {
    font-family: prompt;
    font-size: 20px;
    font-weight: 600;
    color: var(--logo-text);
   }

   .hero-register {
    width: 80%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
   }

   .register-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 8px;
   }

   .register-btnsBox {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
   }

   .register-title {
    font-family: prompt;
    font-size: 25px;
    font-weight: 600;
    color: var(--old-gold);
    /* background: linear-gradient(to top, var(--timberwolf),var(--old-gold));
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text; */
   }

   .register-slogan {
    font-family: rambla;
    font-size: 1rem;
    font-weight: 600;
    color: var(--timberwolf);
   }

   .btn {
    padding: 3px 15px;
    border-radius: 8px;
    border: solid 2px;
    border-color: var(--myrtle-green);
    background: var(--eerie-black);
    cursor: pointer;
   }

   .btn a {
    font-family: rambla;
    font-size: 1rem;
    font-weight: 800;
    color: var(--myrtle-green);
   }


   /* Beneficios */
   .benefit {
    width: 100%;
    background: var(--myrtle-green);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    gap: 10px;
    text-align: center;
   }

   .benefit-title {
    font-family: prompt;
    font-size: 18px;
    font-weight: 600;
    color: var(--eerie-black);
   }

   .benefit-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
   }

   .benefitCard {
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: solid 2px;
    border-color: var(--eerie-black);
    background: var(--myrtle-green);
    border-radius: 1rem;
    padding: 15px 5px;
    gap: 8px;
   }

   .benefit-icon {
    color: var(--old-gold);
   }

   .benefit-icon i {
    font-size: 22px;
   }

   .benefitCard-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
   }
   
   .benefitCard-title {
    font-family: rambla;
    font-weight: 600;
    font-size: 15px;
    color: var(--eerie-black);
   }

   .benefitCard-text {
    display: none;
   }

   /*Noticias*/
   .news {
    width: 100%;
    background: var(--timberwolf);
    background: var(--timberwolf);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 0 40px;
    }

   .news-title {
    margin-top: 20px;
    font-family: prompt;
    font-size: 25px;
    font-weight: 900;
    color: var(--eerie-black);
   }

   .categories-box {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 5px;
   }

   .categories-btn {
    width: 70px;
    padding: 3px;
    border-radius: 7px;
    background-color: var(--onix);
    color: var(--timberwolf);
    border: none;
    font-family: rambla;
    font-size: 13px;
    font-weight: 400;
    cursor: pointer;
   }

   .category-active {
    border: solid 3px;
    border-color: var(--onix);
    background-color: var(--old-gold);
    color: var(--onix);
    font-weight: 700;
   }

  .news-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
    max-width: 450px;
    padding: 15px;
    gap: 12px;
  }
  
  .art-box {
    display: flex;
    flex-direction: column;
  }

  .art-info {
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
  }

  .art-category {
    background: var(--old-gold);
    font-family: rambla;
    font-size: 13px;
    color: var(--eerie-black);
    padding: 2px;
    width: 25%;
    height: 100%;
  }

  .art-date {
    background: var(--myrtle-green);
    font-family: rambla;
    font-size: 13px;
    color: var(--eerie-black);
    padding: 2px;
    width: 75%;
    height: 100%;
  }

    .art-favoriteIcon {   
     border: none;
     display: flex;
     align-items: center;
     justify-content: center;
     background:var(--myrtle-green);
     height: 100%;
     padding: 2px 3px;
     cursor: pointer;
  }

   /* .art-favoriteIcon i {
    color: var(--timberwolf);
   } */

  .art-favoriteIcon i {
      font-size: 80%;
  }

  .art-content {
    display: flex;
    align-items: center;
    gap: 2px;
  }

  .art-content a {
    cursor: pointer;
  }

  .art-img {
    width: 76px;
    height: 76px;
    object-fit: cover;
  }

  .art-title {
    font-family: rambla;
    font-size: 17px;
    font-weight: 600;
    color: var(--eerie-black);
  }

  .btn-seeMore {
    background-color: var(--myrtle-green);
    font-family: rambla;
    font-weight: 400;
    font-size: 15px;
  }

  /* Contacto */
  .contact {
    background-color: var(--timberwolf);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 30px;
    gap: 15px;
  }

  .contact-title {
    font-family: prompt;
    font-weight: 800;
    font-size: 22px;
    color: var(--myrtle-green);
  }

  .contact-slogan {
    font-family: rambla;
    font-weight: 600;
    font-size: 22px;
    color: var(--myrtle-green);
  }

  /* .contact-navList {
    display: flex;
  } */

  .contact-ul {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }

  .contact-item {
    display: flex;
    align-items: center;
    justify-content: left;
    cursor: pointer;
  }

  .contact-item a {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .contact-icon {
    color: var(--myrtle-green);
  }

  .contact-span {
    font-family: unna;
    font-weight: 400;
    font-size: 18px;
    color: var(--eerie-black);
  }

  /* Footer */
  .footer {
    background: var(--logo-back);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px 0 0;
    gap: 15px;
  }

  .footer-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 15px;
  }

  .footer-logo {
    height: 100px;
  }

  .footer-text {
    font-family: unna;
    font-weight: 400;
    font-size: 13px;
    color: var(--eerie-black);
  }

  .footer-copyrigth {
    width: 100%;
    background: var(--eerie-black);
    text-align: center;
    padding: 4px;
    font-family: rambla;
    font-size: 15px;
    font-weight: 200;
    color: var(--myrtle-green);
  }

  /* Modal */
  .add-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 0;
    text-align: center;
    background-color: var(--old-gold);
    position: fixed;
    bottom: 0;
    width: 100%;
    transform: translateY(200%);
    transition: all 0.5s ease-in;
    font-family: rambla;
    font-size: 15px;
    font-weight: 600;
    color: var(--onix);
  }

  .active-modal {
    transform: translateY(0);
    transition: all 0.5s ease-in;
  }
/* ----------------------------------------------------------*/

.hidden {
  display: none;
} 

.navbar-off {
  display: none;
}

/* Menu hamburguesa abierto */
.navbar-open {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  position: absolute;
  top: 60px;
  left: 5%;
  right: 5%;
  width: 90%;
  gap: 10px;
  padding: 30px;
  border-radius: 0 0 1rem 1rem;
  border: solid 2px;
  border-color: var(--logo-text);
  border-top: 0px;
  background: var(--logo-back)
}

/* Menu favoritos abierto */
.favorites-open {
  transform: translate(0);
  transition: 0.5s;
}




/* Botones de favoritos on y off*/
.favorite-active {
  color: var(--old-gold);
}

.favorite-empty {
  color: var(--timberwolf);
}

/* ------------------------------------------------------------------------------------------- */

/* ----------------------------------PAGES---------------------------------------------------- */

  /* -------Login y register------- */

    .pages-header {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .formSection {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 80px 25px;
      background: var(--timberwolf);
      gap: 10px;
    }

    .users-title {
      width: 100%;
      font-family: prompt;
      font-weight: 600;
      font-size: 22px;
      color: var(--eerie-black);
    }

      .form {
      width: 80%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }

    .form-item {
      width: 100%;
      max-width: 280px;
      display: flex;
      flex-direction: column;
      gap: 3px;
      text-align: left;
    }

    .form-label {
      font-family: rambla;
      font-size: 15px;
      font-weight: 400;
      color: var(--onix);
    }

    .form-input {
      background: var(--timberwolf);
      height: 20px;
      width: 100%;
      border: 2px solid;
      border-color: var(--myrtle-green);
      border-radius: 8px;
      padding: 5px;
      outline: none;
    }

    .imput-alert {
      border: 1px solid;
      border-color: red;
    }

    .form-alertMsg {
      width: 100%;
      font-family: unna;
      font-weight: 200;
      font-size: 13;
      color: var(--onix);
    }

    .formSection-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      background: var(--myrtle-green);
      width: 100px;
      font-family: rambla;
      font-size: 14px;
      font-weight: 600;
      color: var(--onix);
    }

    .formSection-clearBtn {
      font-size: 12px;
      background: var(--timberwolf);
      border: none;
    }

    .redirectToLogin{
      margin-top: 10px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 5px;
    }

    .login-msg{
      font-family: rambla;
      font-weight: 400;
      font-size: 15px;
      color: var(--eerie-black);
    }


  /*--------------Página de Artículo---------------*/
    .articleSection {
      top: 120px;
      width: 100%;
      background: var(--timberwolf);
      padding: 50px 20px;
      gap: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .artSectionChild {
      width: 80%;
      max-width: 450px;
    }

    .artHead{
      display: flex;
      flex-direction: column;
    }

    .artPage-title {
      font-size: 24px;
    }

    .artPage-crest {
      font-family: unna;
      font-weight: 600;
      font-size: 18px;
      color: var(--myrtle-green);
    }

    .artPage-info {
      height: 25px;
    }

    .artPage-autorInfo {
      width: 100%;
      display: flex;
      justify-content: left;
      align-items: center;
      padding: 5px;
      gap: 8px;
    }
    
    .artPage-favoriteIcon {
      cursor: default;
    }

    .artPage-favoriteIcon:hover {
      transform: scale(1);
    }

    .artPage-autorImg {
      height: 25px;
      border-radius: 50%;
    }

    .artPage-autorName {
      font-family: rambla;
      font-size: 14px;
      font-weight: 200;
      color: var(--eerie-black);
    }

    .artPage-img {
      width: 100%;
    }

    .artPage-text {
      font-family: unna;
      font-weight: 200;
      color: var(--eerie-black);
      font-size: 16px;
    }

